{% extends "base.html" %} {% block content %} {% if form.errors %}
<p>Ошибка</p>
{% endif %}
<h1>Заблокировать пользователя</h1>
<div class="mb-3">
  <form action="{% url 'sysadmin' %}" method="POST">
    {% csrf_token %}
    <select
      class="form-select form-select-lg mb-3"
      aria-label="Default select example"
      size="1"
      name="ban_user"
    >
      {% for user in users %} {% if user.is_active %}
      <option value="{{ user.id }}">{{user.username}}</option>
      {% endif %} {% endfor %}
    </select>
    <input type="submit" value="Сохранить" class="btn btn-secondary" />
  </form>

  <center>
    <a class="btn btn-warning mt-1 mb-3" href="{% url 'register_user' %}"
      >Зарегестрировать пользователя</a
    >
  </center>
  {% for user in users %}

  <a
    href="{% url 'current_user' id=user.id %}"
    class="list-group-item list-group-item-action"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ user }}</h5>
      <small class="text-muted">{{ user.last_login }}</small>
    </div>
    <p class="mb-1">{{ user.last_name }}</p>
    {% for group_for in user.groups.all %}
    <h5 class="text-muted">{{ group_for.name }}</h5>
    {% endfor %}
    <small class="text-muted"
      >Активен: {% if user.is_active %} Да {%else%} Нет {%endif%}
    </small>
    {% endfor %}
  </a>
</div>
{% endblock %}
