{% extends "base.html" %} {% block content %}

<h1>Каталог</h1>
{% for car in cars %}
<form action="" method="POST">
  <div class="card mb-3">
    {% if car.get_status_display == 'Сдается' %}
    <div class="card-body">
      <h2 class="card-title" name="book">{{ car }}</h2>
      <input type="hidden" name="book" value="{{" car.id }} />
      <input
        type="submit"
        value="Забронировать"
        class="btn btn-outline-warning"
      />
    </div>
    {%endif%}
  </div>
</form>
{% endfor %} {% endblock %}
